:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(234 100% 5%);
  --bg: hsl(221 100% 7%);
  --bg-light: hsl(213 100% 10%);
  --text: hsl(212 100% 98%);
  --text-muted: hsl(212 77% 72%);
  --highlight: hsl(209 81% 38%);
  --border: hsl(206 100% 24%);
  --border-muted: hsl(211 100% 17%);
  --primary: hsl(211 100% 72%);
  --secondary: hsl(35 78% 57%);
  --danger: hsl(8 74% 66%);
  --warning: hsl(52 76% 40%);
  --success: hsl(154 54% 47%);
  --info: hsl(217 87% 69%);
  /* oklch */
  --bg-dark: oklch(0.1 0.07 252);
  --bg: oklch(0.15 0.07 252);
  --bg-light: oklch(0.2 0.07 252);
  --text: oklch(0.96 0.1 252);
  --text-muted: oklch(0.76 0.1 252);
  --highlight: oklch(0.5 0.14 252);
  --border: oklch(0.4 0.14 252);
  --border-muted: oklch(0.3 0.14 252);
  --primary: oklch(0.76 0.14 252);
  --secondary: oklch(0.76 0.14 72);
  --danger: oklch(0.7 0.14 30);
  --warning: oklch(0.7 0.14 100);
  --success: oklch(0.7 0.14 160);
  --info: oklch(0.7 0.14 260);
}
body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(212 100% 92%);
  --bg: hsl(212 100% 97%);
  --bg-light: hsl(212 100% 100%);
  --text: hsl(240 100% 12%);
  --text-muted: hsl(206 100% 24%);
  --highlight: hsl(212 100% 100%);
  --border: hsl(211 62% 52%);
  --border-muted: hsl(211 86% 65%);
  --primary: hsl(206 100% 24%);
  --secondary: hsl(36 100% 15%);
  --danger: hsl(7 55% 41%);
  --warning: hsl(53 100% 14%);
  --success: hsl(161 100% 15%);
  --info: hsl(217 58% 44%);
  /* oklch */
  --bg-dark: oklch(0.92 0.07 252);
  --bg: oklch(0.96 0.07 252);
  --bg-light: oklch(1 0.07 252);
  --text: oklch(0.15 0.14 252);
  --text-muted: oklch(0.4 0.14 252);
  --highlight: oklch(1 0.14 252);
  --border: oklch(0.6 0.14 252);
  --border-muted: oklch(0.7 0.14 252);
  --primary: oklch(0.4 0.14 252);
  --secondary: oklch(0.4 0.14 72);
  --danger: oklch(0.5 0.14 30);
  --warning: oklch(0.5 0.14 100);
  --success: oklch(0.5 0.14 160);
  --info: oklch(0.5 0.14 260);
}